<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clicker</title>
  </head>
  <body>
    <div class="container-fluid">
      <h1 class="text-center fw-bold my-5">Ticreu Clicker</h1>
      <div class="row">
        <div class="col-md-4 clickBox">
          <div class="valueBox">
            <span id="ticsValue">1</span>
            tics
            <p><span id="tpsValue"></span> por segundo</p>
          </div>
          <div id="clickButton" class="clickButton">Clique</div>
        </div>
        <div class="col-md-8 upgradeBox">
          <div class="upgradeButton">
            <div>
              <p>Yasuo</p>
              <p class="mt-2"><b>5 tics</b></p>
            </div>
            <p>0</p>
          </div>
          <div class="upgradeButton">
            <div>
              <p>Yone</p>
              <p class="mt-2"><b>100 tics</b></p>
            </div>
            <p>0</p>
          </div>
          <div class="upgradeButton">
            <div>
              <p>Aphelios</p>
              <p class="mt-2"><b>5000 tics</b></p>
            </div>
            <p>0</p>
          </div>
          <div class="upgradeButton">
            <div>
              <p>Mapa</p>
              <p class="mt-2"><b>100000 tics</b></p>
            </div>
            <p>0</p>
          </div>
          <div class="upgradeButton">
            <div>
              <p>Ticreucida</p>
              <p class="mt-2"><b>1 milhão tics</b></p>
            </div>
            <p>0</p>
          </div>
          <div class="upgradeButton">
            <div>
              <p>Mais gente no time</p>
              <p class="mt-2"><b>1 bilhão tics</b></p>
            </div>
            <p>0</p>
          </div>
        </div>
      </div>
    </div>
    <script src="main.min.js"></script>
  </body>
</html>
