@import "./variables.scss";

.clickBox {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: $blue;
  border: rem(8) solid $red;
}

.clickButton {
  width: rem(120);
  height: rem(120);
  background-color: $green;
  border-radius: 100%;
  padding: rem(52) 0;
  text-align: center;
  margin: rem(120) auto;
  font-size: rem(16);
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.valueBox {
  text-align: center;
  padding-top: rem(16);
  padding-bottom: rem(16);
  font-size: rem(32);
  font-weight: bold;
}
